.contact{
    margin: 80px auto;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contactcall{
    flex-basis: 48%;
    color: #676767;

}
.contactcall h3{
    color: #000f38;
    font-weight: 500;
    font-weight: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.contactcall h3 img{
    width: 35px;
    margin-left: 40px;
}

.contactcall p{
    max-width: 450px;
    list-style: 1.3;
}
.contactcall ul li{
    display: flex;
    align-items: center;
    margin: 20px 0 ;
}
.contactcall ul li img{
    width: 25px;
    margin-right: 10px;
}
.contact form input{
    display: block;
    width: 100%;
    background: #afb1d6;
    padding: 15px;
    border: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;

}
.contactcall span{
    display: block;
    margin: 20px 0;
}
 .contact form textarea{
        display: block;
    width: 100%;
    background: #afb1d6;
    padding: 15px;
    border: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;
 }
 @media(max-width:700px){
    .contact{
        display: block;

    }
    .contactcall{
        padding: 20px;


    }
 }