.videoplayer{
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: 40%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 100;
    align-items: center;
    justify-content: center;

}
.videoplayer video{
    width: 90%;
    max-width: 900px;
    height: auto;
    border: 4px solid #fff;
}